# Backend API base URL (default remote backend)
NEXT_PUBLIC_API_URL=

# Set true to use localhost backend instead of remote backend
NEXT_PUBLIC_USE_LOCAL_API=false
NEXT_PUBLIC_LOCAL_API_URL=http://localhost:8000
NEXT_PUBLIC_PAYMENT_API_URL=

# Optional frontend fallback if backend does not return key_id in order response
NEXT_PUBLIC_RAZORPAY_KEY_ID=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=